<nav class="navbar" th:fragment="navbar">

    <div class="logo">
        Pay My Buddy
    </div>

    <div class="menu">

        <a th:href="@{/transfer}"
           th:classappend="${activePage == 'transfer'} ? 'active'">
            Transférer
        </a>

        <a th:href="@{/profile}"
           th:classappend="${activePage == 'profile'} ? 'active'">
            Profil
        </a>

        <a th:href="@{/friends}"
           th:classappend="${activePage == 'friends'} ? 'active'">
            Ajouter relation
        </a>

        <form id="logoutForm" th:action="@{/logout}" method="post" style="display:none;">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        </form>

        <!-- Lien visuel -->
        <a href="#" onclick="document.getElementById('logoutForm').submit(); return false;">
            Se déconnecter
        </a>

    </div>

</nav>