<nav class="navbar" th:fragment="navbar">

    <div class="logo">
        Pay My Buddy
    </div>

    <div class="menu">

        <a th:href="@{/transfer}"
           th:classappend="${activePage == 'transfer'} ? 'active'">
            Transférer
        </a>

        <a th:href="@{/profile}"
           th:classappend="${activePage == 'profile'} ? 'active'">
            Profil
        </a>

        <a th:href="@{/friends}"
           th:classappend="${activePage == 'friends'} ? 'active'">
            Ajouter relation
        </a>

        <a th:href="@{/logout}">
            Se déconnecter
        </a>

    </div>

</nav>