<!DOCTYPE html>
<html xmlns:th="[thymeleaf.org](http://www.thymeleaf.org)" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Transfer</title>

    <meta name="description" content="Page de transfert de l'application de transfert d'argent entre amis Pay My Buddy">

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<main class="content-transfer">
        <form id="transferForm" th:action="@{/transfer}" method="post" class="transfer-form">
            <label for="personne" class="visually-hidden">Sélectionner une relation</label>
            <select id="personne" class="transfer-form-select-personne" name="receiverEmail">
                <option>Sélectionner une relation</option>
                <option>voldy@mail.com</option>
                <option>Lyséa</option>
            </select>

            <input class="transfer-form-input" type="text" name="description" placeholder="Description">
            <label for="montant" class="visually-hidden">0€</label>
            <select id="montant" class="transfer-form-select-prix" name="amount">
                <option value="10">10€</option>
                <option value="20">20€</option>
            </select>

            <button type="submit" class="transfer-form-button">Payer</button>
        </form>

    <section class="transfer-table">
        <h2 class="transfer-table-title">Mes Transactions</h2>

        <table class="transactions-table">
            <thead>
            <tr>
                <th>Relation</th>
                <th>Description</th>
                <th>Montant</th>
            </tr>
            </thead>
            <tbody>
            <!-- Transactions envoyées -->
            <tr th:each="transaction : ${sentTransactions}">
                <td th:text="${transaction.receiver.email}"></td>
                <td th:text="${transaction.description}"></td>
                <td class="amount-negative" th:text="'-' + ${transaction.amount} + '€'"></td>
            </tr>

            <!-- Transactions reçues -->
            <tr th:each="transaction : ${receivedTransactions}">
                <td th:text="${transaction.sender.email}"></td>
                <td th:text="${transaction.description}"></td>
                <td class="amount-positive" th:text="'+' + ${transaction.amount} + '€'"></td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
</body>
</html>
